:root {
    /* colors */
    --color1: #03045e;
    --color2: #90e0ef;
    --color3: #ffffff;
    /* fonts */
    --font1: "Poppins", sans-serif;
    --font2: "Bricolage Grotesque", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.container {
    width: min(90%, 1266px);
    margin-inline: auto;
    z-index: 99;
    transition: .5s;
}

.mobile {
    display: none;
}

header {
    width: 100%;
    height: 4rem;
    background-color: var(--color1);
    align-items: center;
    z-index: 99;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    transition: .5s;
}

/* header scrolling */
header.sticky{
    background-color: var(--color3);
    /* border-bottom: 3px solid var(--color1); */
}

header.sticky .desktop .logo{
    color: var(--color1);
} 

header.sticky .humbegar i{
    color: var(--color1);
}

header.sticky .desktop .menus li a{
    color: var(--color1);
}
.desktop {
    z-index: 99;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: .8rem;
    /* position: ;     */
}


.desktop .menus {
    display: flex;
    gap: 2rem;
    align-items: center;
    position: relative;
}

.desktop .logo {
    color: var(--color3);
    font-family: var(--font1);
    font-size: 2rem;
}

.desktop .menus li {
    position: relative;
}

.desktop .menus li a {
    color: var(--color3);
    font-family: var(--font2);
    text-transform: uppercase;
    font-size: 1rem;

}

.desktop .menus li .portal {
    /* transition: .6s; */
}

.sub-menu {
    /* display: none; */
    position: absolute;
    box-sizing: border-box;
    background-color: var(--color3);
    top: 2.35rem;
    left: 0;
    right: 0;
    transition: top .5s ease-in-out;
    border-radius: 0 0 3px 3px;
    border-top: 2px solid var(--color3);
    z-index: 99;
    opacity: 0;
    max-height: 0;
    width: 100%;
    transition: 0.4s;
    overflow: hidden;
}

.sub-menu li {
    padding: .2rem;

}

.sub-menu .exam-li {
    border-top: 2px solid var(--color1);
}

.sub-menu .exam-li .sub{
    color: var(--color1);
    font-size: .8rem;
    font-weight: bold;
}

.sub-menu .regis-li .sub{
    color: var(--color1);
    font-size: .8rem;
    font-weight: bold;

}


.sub-menu.active {
    /* display: block; */
    opacity: 1;
    max-height: 55px;
}

.humbegar {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    right: 20px;
    cursor: pointer;

    /* background-color: #ffffff; */

}


.humbegar i {
    font-size: 2rem;
    color: var(--color3);
}

.humbegar .fa-xmark {
    display: none;
}

img {
    width: 100%;
}

.main {
    display: flex;
    width: 100%;
    z-index: 0;
    /* height: 100%; */
    flex-direction: column;
    height: calc(100vh - 4rem);
    position: relative;
}

.main div{
    transition: 0.5s;
}

.main img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    transition: .5s;
    object-fit: cover;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.647);
    z-index: 99;
}

.main .container {
    width: 100%;
    height: 100%;
    gap: 1rem;
    padding: .5rem;
    /* background-color: #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    position: relative;
    /* margin-top: 12rem; */
    align-items: center;

}

.main .container h1{
    font-size: 4rem;
    font-family: var(--font1);
    color: var(--color3);
}

.main .container h4{
    font-size: 2rem;
    font-family: var(--font1);
    color: var(--color3);
    position: relative;
}

.main .container h4 span{
    background-color: var(--color2);
    padding: .2rem;
    border-radius: 2px;
    color: var(--color1);
}

.sectio2{
    width: 100%;
    height: auto;
    background-color: var(--color2);
    padding: .6rem 1rem;
}


.sectio2 .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .5rem;
    text-align: center;
}

.sectio2 .container h1{
    font-size: 2.8125rem;
    font-family: var(--font1);
    color: var(--color1);
}

.sectio2 .container .boxes{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    box-sizing: border-box;
}

.sectio2 .container .boxes .box{
    background-color: var(--color1);
    padding: 1rem;
    width: 200px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 10px;
    border: 1px solid var(--color3);
    box-shadow: 0 1px 7px rgba(108, 102, 102, 0.22);
    cursor: pointer;
}

.sectio2 .container .boxes .box:hover{
    background-color: #0c0d4e;
    transition: .5s;

}

.sectio2 .container .boxes .box i{
    font-size: 2.5rem;
    color: var(--color2);
}

.sectio2 .container .boxes .box p{
    font-size: 1.1rem;
    font-family: var(--font1);
    color: var(--color3);
}

/* section3 */

.section3{
    width: 100%;
    margin-block: 5rem;
    /* background-color: rgba(237, 234, 234, 0.563); */
    padding: 1rem;
}

.section3 .container{
    z-index: 1;
    display: grid;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: repeat(2,1fr);
    /* justify-content: center;
    align-items: center; */
    gap: 5rem;
}
.section3 .container .left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.section3 .container .left .up{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.section3 .container .left .up h1{
    font-size: 1.625rem;
    font-family: var(--font1);
    color: var(--color1);
    line-height: 2rem;
}

.section3 .container .left .up p{
    font-size: .95rem   ;
    line-height: 1.56rem;
    font-family: var(--font1);
    font-weight: 500;
    color: #969696;
}

.section3 .container .left .down{
    display: flex;
    gap: 3.5rem;
    
}

.section3 .container .left .down h1{
    font-size: 2.5rem;
    line-height: 3.12rem;
    color: var(--color1);
    font-family: var(--font1);
    font-weight: 700;
}

.section3 .container .left .down p{
    font-size: 1.0625rem;
    line-height: 1.75rem;
    color: #969696;
    font-family: var(--font1);
}

/* right */

/* .section3 .container .right{
    max-width: 500px;
    max-height: 350px;
} */

.section3 .container .right .imgSlider{
    position: relative;
    max-width: 500px;
    overflow: hidden;
    max-height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.section3 .container .right .imgSlider .btns{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: var(--color1);
    font-size: 1.3rem;
}

.section3 .container .right .imgSlider .btns i{
    background-color: var(--color3);
    padding: .4rem;
    border-radius: 4px;
}

.section3 .container .right .imgSlider .imgContainer{
    display: flex;
    transition: transform .5s ease-in-out;
}

.section3 .container .right .imgSlider img{
    /* min-width: 100%;
    min-height: 100%; */
}
.section3 .container .right .imgSlider .btns .prev{
    position: absolute;
    left: 10px;
}

.section3 .container .right .imgSlider .btns .next{
    position: absolute;
    right: 10px;
    /* color: black; */
}
/* section3 */

.section4 {
    width: 100%;
    margin-block: 4rem;

}

.section4 .container {
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.section4 .container .up{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.section4 .container .up p{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: var(--font2);
    color: var(--color2);
    
}

.section4 .container .up h2{
    font-size: 2rem;
    font-weight: 700;
    color: var(--color1);
    font-family: var(--font1);
}

.section4 .container .down .cards{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}

.section4 .container .down .cards img{
    width: 100%;
border-radius: 5px 5px 0 0;
}

.section4 .container .down .cards img::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    color: rgba(208, 208, 208, 0.679);
    
}


.section4 .container .down .cards .card{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 5px;
    background-color: var(--color1);
    /* box-shadow: 0px 10px 15px rgba(74, 73, 73, 0.106); */
}

.section4 .container .down .cards .card .crs-info{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.section4 .container .down .cards .card .crs-info h1{
    font-family: var(--font1);
    color: var(--color3);
    font-size: 1.5625rem;
    font-weight: 600;
}

.section4 .container .down .cards .card .crs-info a{
    font-size: 0.975rem;
    color: var(--color3);
    font-family: var(--font1);
}


footer{
    width: 100%;
    /* position: relative; */
}

footer .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 2rem;

}

footer .container .foter-up{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

footer .container .foter-up .box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: #969696; */
    align-items: center;
}

footer .container .foter-up .box h2{
    color: var(--color1);
    font-family: var(--font2);
}

footer .container .foter-up .box p{
    color: #969696;
    font-size: 1.1rem;
    font-family: var(--font1);

}

footer .container .foter-up .box a{
    font-size: 1.1rem;
    color: #969696;
    font-family: var(--font1);
}

footer .container .foter-up .box .icons{
    display: flex;
    align-items: flex-start;
    gap: 1.75rem;
}

footer .container .foter-up .box .icons a{
    display: flex;
    color: var(--color1);
    border-radius: 2px;
    height: 30px;
    width: 40px;
    /* padding: .4rem; */
    cursor: pointer;
    background-color: #96969653;
    align-items: center;
    justify-content: center;
    transition: .6s;
}

footer .container .foter-up .box .icons a:hover{
    background-color: var(--color1);
    color: var(--color3);
}


footer .container .foter-down{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .6rem;
}

footer .container .foter-down .line{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    background-color: var(--color1);
    width: 100%;
    height: 2px;
    margin-bottom: .6rem;
}

footer .container .foter-down p{
    font-size: .8rem;
    font-family: var(--font2);
    color: #969696;
    text-transform: capitalize;
    text-align: center;
}

/* responsive */

/* min-desktop-screen */

@media(max-width:1274px) {

    .sectio2 .container h1{
        font-size: 1.8rem;
        font-family: var(--font1);
        color: var(--color1);
    }

    .sectio2 .container .boxes .box{
        background-color: var(--color1);
        padding: .8rem;
        width: 150px;
        height: 100px;

    }

    .sectio2 .container .boxes .box i{
        font-size: 1.75rem;
        color: var(--color2);
    }
    
    .sectio2 .container .boxes .box p{
        font-size: .8rem;
        font-family: var(--font1);
        color: var(--color3);
    }

    .section3 .container{
        display: grid;
        position: relative;
        box-sizing: border-box;
        grid-template-columns: repeat(1,1fr);
        /* justify-content: center;
        align-items: center; */
        gap: 5rem;
    }

    .section4 .container .down .cards{
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }


}



/* ipads screen */

@media(max-width:1030px) {
    .container {
        width: min(90%, 1266px);
    }

    .main .container h1{
        font-size: 3rem;
    }

    .desktop .logo {
        font-size: 1.5rem;
    }

    .desktop .menus li a {
        font-size: 0.9rem;
    }

    .sub-menu {
        top: 2.65rem;
    }

    .sectio2 .container {
        display: flex;
        flex-direction: column;
        
    }
    .sectio2 .container h1{
        font-size: 2rem;
        font-family: var(--font1);
        color: var(--color1);
    }

    .sectio2 .container .boxes .box{
        background-color: var(--color1);
        padding: .8rem;
        width: 200px;
        height: 120px;

    }

    .sectio2 .container .boxes .box i{
        font-size: 2.3rem;
        color: var(--color2);
    }
    
    .sectio2 .container .boxes .box p{
        font-size: 1rem;
        font-family: var(--font1);
        color: var(--color3);
        text-align: center;
    }



    .section3 .container .sec3-1 h1{
        font-size: 2rem;
    }

    .section4 .container .down .cards{
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
    }

    footer .container .foter-up{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}



/* mobile screen */

@media (max-width:767px) {

    .desktop .menus {
        display: none;
    }

    .main .container h1{
        text-align: center;
        font-size: 2.5rem;
    }

    .main .container h4{
        text-align: center;
        font-size: 1.5rem;
    }
    
    

    .mobile {
        z-index: 99;
        transition: .5s;
        display: flex;
        justify-content: center;
        /* align-items: center; */
        /* margin-top: 1.5rem; */
        width: 98%;
        margin-inline: auto;
        padding: 1rem;
        border-radius: 4px;
        position: relative;
        top: 1.5rem;
        max-height: 0;
        opacity: 0;
        overflow-y: hidden;
        background-color: var(--color2);
        box-shadow: 0 1px 7px rgba(108, 102, 102, 0.22);
    }

    .mobile .menus {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        /* max-height: 0; */
        text-align: center;
        position: relative;

    }

    .mobile .menus a {
        font-size: 1rem;
        color: var(--color1);
        font-family: var(--font1);
        text-transform: uppercase;
    }

    .mobile .menus .li {
        transition: .5s;
        padding: .2rem;
        cursor: pointer;
        position: relative;
        border-bottom: 2px solid var(--color1);
    }

    .mobile .menus .li:hover {
        background-color: grey;
    }

    .mobile .menus .portal {
        position: relative;
        width: 100%;
        box-sizing: border-box;
    }

    .mobile .menus li .mobile-sub-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        box-sizing: border-box;
        gap: .5;
        top: 2.75rem;
        left: 0;
        right: 0;
        width: 100%;
        align-items: center;
        background-color: var(--color3);
        z-index: 99;
        max-height: 100px;
        /* height:0;
        opacity: 0; */
        overflow-y: hidden;
    }

    .mobile .menus li .mobile-sub-menu li a {
        /* text-align: center; */
        font-size: 0.95rem;
    }

    .humbegar {
        display: flex;
    }

    .mobile.active {
        max-height: 450px;
        opacity: 1;
    }

    .sectio2 .container h1{
        font-size: 1.7rem;
        /* align-items: center; */
    }

    .sectio2 .container .boxes{
        display: grid;
        grid-template-columns: 1fr;
        /* background-color: aliceblue; */
        width: 100%;
        height: 100%;
    }

    .sectio2 .container .boxes .box{
        width: 100%;
        height: 120px;
        
    }

    .sectio2 .container .boxes .box i{
        font-size: 3rem;
    }

    .sectio2 .container .boxes .box p{
        font-size: 1.2rem;
    }

    .section3 .container .left .down h1{
        font-size: 1.5rem;
        line-height: 3.12rem;
        color: var(--color1);
        font-family: var(--font1);
        font-weight: 700;
    }
    
    .section3 .container .left .down p{
        font-size: .8rem;
        line-height: 1.75rem;
        color: #969696;
        font-family: var(--font1);
    }
    
    .section3 .container .left .down{
        display: flex;
        gap: 1.5rem;
        
    }


    footer .container .foter-up{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }

    footer .container .foter-up .box{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        /* background-color: #969696; */
        align-items: flex-start;
    }

}